/* CSS custom properties / CSS variables */

:root {
  --teal: #008080;
  --royalblue: #4169e1;
  --violet: #9400d3;
  --green: #008000;
  --magenta: #8b008b;
}

/* Use attribute selectors for the first part of the exercise */

/* target by attribute value rather than simple class selectors */
li[class='dog'] {
  color: var(--violet);
}

li[id='cat'] {
  color: var(--teal);
}

li[class='parrot'] {
  color: var(--green);
}

li[class='donkey'] {
  color: var(--royalblue);
}

li[class='hedgehog'] {
  color: var(--violet);
}

/* item that lists all three animals matches multiple class tokens */
li[class~='dog'][class~='cat'][class~='parrot'] {
  color: var(--royalblue);
}

/* Use descendant, child, and sibling selectors for the second part */

.list-food > ol > li {
  color: var(--green);
}

.list-food > ol > li + li {
  color: var(--magenta);
}

.list-food > ol > li + li + li {
  color: var(--royalblue);
}

.list-food > ol > li + li + li + li {
  color: var(--magenta);
}

.list-food + .list-cleaning ol li {
  color: var(--green);
}
