.container {
  width: 600px;
  margin: 40px auto;
}

.paragraph {
  position: relative;
  padding: 20px 30px;
  margin: 20px 0;
  line-height: 1.5;
  background: #fafafa;
  border: 1px solid #e3e3e3;
}

.paragraph::before,
.paragraph::after {
  position: absolute;
  font-size: 64px;
  line-height: 0.8;
  color: #d9d9d9;
  font-family: Georgia, 'Times New Roman', serif;
}

.paragraph::before {
  content: '“';
  left: -18px;
  top: -10px;
}

.paragraph::after {
  content: '”';
  right: -18px;
  bottom: -36px;
}

.paragraph::first-line {
  font-style: italic;
}
