.container {
  width: 600px;
  margin: 40px auto;
}

.paragraph {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #444;
}

.paragraph + .paragraph {
  margin-top: 60px;
}

.paragraph::first-letter {
  float: left;
  font-size: 64px;
  line-height: 0.9;
  padding-right: 6px;
  color: #444;
}
