:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
  margin: 20px;
}

h1, h2, h3 {
  font-weight: 700; /* or 700 */
}

.header,
.section,
.aside {
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  width: 100%;
  height: 125px;
  background-color: var(--blue);
  align-items: center;
  display: flex;
}

.section {
  float: left;
  width: 75%;
  height: 350px;
  background-color: var(--orange);
}

.aside {
  float: left;
  width: 25%;
  height: 350px;
  background-color: var(--gold);
}
