:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
  margin: 20px;
}

.header,
.section,
.aside {
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  width: 100%;
  height: 200px;
  background-color: var(--blue);
}

.section {
  float: left;
  width: 75%;
  height: 600px;
  background-color: var(--orange);
}

.aside {
  float: left;
  width: 25%;
  height: 600px;
  background-color: var(--gold);
}
