:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}

body {
  margin: 0;
  padding-top: 150px;
  padding-bottom: 150px;
}

.main {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 150px 20px 180px;
}

.box {
  box-sizing: border-box;
  padding: 10px;
  color: var(--white);
  text-align: center;
  font-size: 1.2rem;
}

.static {
  width: 48%;
  height: 840px;
  background-color: var(--darkviolet);
}

.relative {
  position: relative;
  width: 48%;
  height: 840px;
  background-color: var(--purple);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  background-color: var(--maroon);
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 135px;
  background-color: var(--darkgolden);
}
