:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}

.box {
  box-sizing: border-box;
  font-size: 1.1rem;
  padding: 12px;
  color: var(--white);
}

.main {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 900px;
  margin: 80px auto 200px;
}

.static {
  position: static;
  width: 300px;
  height: 400px;
  background-color: var(--darkviolet);
}

.relative {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: var(--purple);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 12px;
  color: var(--white);
  z-index: 2;
  background-color: var(--maroon);
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 12px;
  color: var(--white);
  z-index: 3;
  background-color: var(--darkgolden);
}
